:root{
    --color1:#fff0ff;
    --color2:#1a1833;
    --color3:#77767c;
    --color4:#e2e2e2;
}

.header{
    display: flex;
    align-items: center;
    height: 150px;
    background-color: var(--color2);
    color: var(--color1);
}


body{
    margin: 0px;
    padding: 0px;
    background-color: var(--color1);
    font-family: 'Roboto Slab', serif;
}


.titPagina{
    font-size: 35px;
}

.Iteracion{
    margin: 20px 20px 20px 20px;
    height: auto;
    width: 98%;
    border-bottom: solid 1px var(--color2);
}
.poblacionIteracion{
    display: flex;
    height: auto;
    max-width: auto;
    border-bottom: solid 1px var(--color2);
}

img{
    max-width: 190px;
    max-height: 190px;
    
}
#Mutante{
    max-width: 200px;
    max-height: 160px;

}

p{
    color:var(--color2)
}



.seleccion{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". textBox textBox ."
    ". buttonIteracion buttonReiniciar ."  
    ". . . ."
    ". . . .";
    height: 200px;
    background-color: rgba(26, 24, 51, 0.9);
    justify-items: center;
}

.divIteracionSalvada{
    display: flex;
    background-color: rgba(26, 24, 51, 0.8);
    height: 100px;
    justify-content: center;
}


#pSalvada{
    color: var(--color1);
    margin-left: 20px;  
    font-size: 25px; 
}

#pLatente{
    color: var(--color1);
    margin-left: 20px;  
    font-size: 25px; 
}


#textIteracion{
    height: 40px;
    width: 320px;
    font-size: 20px;
    background-color: var(--color1);
    color: var(--color2);
    grid-area: textBox;
    padding-left: 10px;
    margin:40px 10px 10px 10px;
    border: none;
    border-radius: 5px;
}



#pIteracion{
    font-size: 35px;
}

#bIteracion{
    grid-area: buttonIteracion;
    margin:10px;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
}


#bReiniciar{
    grid-area: buttonReiniciar;
    margin:10px;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
}


button{
  background-color: var(--color1); 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

button:hover{
    background-color: var(--color2);
    color:var(--color1);
}

.titPagina{
    margin-left: 20px;
}



@media all and (max-width: 1366px) {
    img{
        max-width: 135px;
        max-height: 135px;
    }
    #Mutante{
        max-height: 115px;
        max-width: 135px;
    }
    .titPagina{
        font-size: 25px;
    }
    
    button{
        font-size: 10px;
    }
    #bIteracion{
        width: 210px;
        height: 50px;
        font-size: 15px;
        border-radius: 5px;
    }
    #bReiniciar{ 
        width: 210px;
        height: 50px;
        border-radius: 5px;
        font-size: 15px;
    }
    .divIteracionSalvada{  
        height: 90px;
    }
    #textIteracion{
        height: 40px;
        width: 240px;
        font-size: 15px;
    }
    #pSalvada{
        font-size: 20px; 
    }
    
    #pLatente{  
        font-size: 20px; 
    }
  }